<a class="btn btn-block btn-danger btn-compose" href="app-inbox-compose.html">Compose</a>

<div class="inbox-menu mt-lg">

	<div class="collapsible-menu" style="border-top: 0;">
		<span class="inbox-leftbar-category clearfix">
			<a href="javascript:;" data-toggle="collapse" data-target="#folders" class="category-heading">Folders</a>
			
		</span>
		<div class="collapse in" id="folders">
			<a href="app-inbox.html" class="inbox-menu-item active">Inbox <span class="badge badge-primary">9</span></a>
			<a href="#" class="inbox-menu-item">Junk <span class="badge badge-warning">3</span></a>
			<a href="#" class="inbox-menu-item">Drafts</a>
			<a href="#" class="inbox-menu-item">Sent</a>
			<a href="#" class="inbox-menu-item">Deleted <span class="badge badge-danger">5</span></a>
		</div>
	</div>

	<div class="collapsible-menu">
		<span class="inbox-leftbar-category clearfix">
			<a href="javascript:;" data-toggle="collapse" data-target="#quicklinks" class="category-heading">Quick Links</a>
			
			
		</span>
		<div class="collapse in" id="quicklinks">
			<a href="#" class="inbox-menu-item">Images <span class="badge">100</span></a>
			<a href="#" class="inbox-menu-item">Documents <span class="badge">124</span></a>
		</div>
	</div>

	<div class="collapsible-menu">
		<span class="inbox-leftbar-category clearfix">
			<a href="javascript:;" data-toggle="collapse" data-target="#customfolders" class="category-heading">Custom</a>
			
		</span>
		<div class="collapse in" id="customfolders">
			<a href="#" class="inbox-menu-item"><i class="text-danger fa fa-circle-o mr"></i>Work</a>
			<a href="#" class="inbox-menu-item"><i class="text-info fa fa-circle-o mr"></i>Personal</a>
			<a href="#" class="inbox-menu-item"><i class="text-warning fa fa-circle-o mr"></i>Others</a>
		</div>
	</div>

</div>

<div class="well well-sm well-inbox">
	<div class="contextual-progress">
        <div class="clearfix">
            <div class="progress-title"><strong>4.2GB</strong> of <strong>10GB</strong></div>
            <div class="progress-percentage">

            	<a href="#">Settings</a>
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: 42%"></div>
        </div>
    </div>
</div>