<nav role="navigation" class="widget-body">
	<ul class="acc-menu">
        <li><a href="javascript:;"><i class="fa fa-random"></i><span>Components</span></a>
        	<ul class="acc-menu">
        		<li><a href="ui-tiles.html">Tiles</a></li>
        		<li><a href="custom-skylo.html">Page Progress Bar</a></li>
        		<li><a href="custom-bootbox.html">Bootbox</a></li>
        		<li><a href="custom-datepaginator.html">Date Paginator</a></li>
        		<li><a href="custom-pines.html">Pines Notification</a></li>
        		<li><a href="custom-notific8.html">Notific8 Notification</a></li>
        		<li><a href="custom-pulsate.html">Pulsating Elements</a></li>
				<li><a href="custom-knob.html">jQuery Knob</a></li>
				<li><a href="custom-jqueryui.html">jQueryUI Widgets</a></li>
				<li><a href="custom-ionrange.html">Ion Range Slider</a></li>
				<li><a href="custom-tour.html">Tour</a></li>
				<li><a href="ui-nestable.html">Nestable Lists</a></li>
				<li><a href="custom-jstree.html">Tree View</a></li>
				<li><a href="custom-weather.html">Weather</a></li>
        	</ul>
        </li>
		<li><a href="javascript:;"><i class="fa fa-pencil"></i><span>Forms</span></a>
			<ul class="acc-menu">
				<li><a href="form-components.html">Form Components</a></li>
				<li><a href="form-pickers.html">Pickers</a></li>
				<li><a href="form-wizard.html">Form Wizard</a></li>
				<li><a href="form-validation.html">Form Validation</a></li>
				<li><a href="form-masks.html">Form Masks</a></li>
				<li><a href="form-dropzone.html">Dropzone Uploader</a></li>
				<li><a href="form-ckeditor.html">CKEditor</a></li>
				<li><a href="form-summernote.html">Summernote</a></li>
				<li><a href="form-markdown.html">Markdown Editor</a></li>
				<li><a href="form-xeditable.html">Inline Editor</a></li>
				<li><a href="form-imagecrop.html">Image Cropping</a></li>
				<li><a href="form-gridforms.html">Grid Forms</a></li>
			</ul>
		</li>
		<li><a href="javascript:;"><i class="fa fa-table"></i><span>Tables</span></a>
			<ul class="acc-menu">
				<li><a href="tables-responsive.html">Responsive Tables</a></li>
				<li><a href="tables-editable.html">Editable Tables</a></li>
				<li><a href="tables-data.html">Data Tables</a></li>
				<li><a href="tables-advanceddatatable.html">Advanced Data Tables</a></li>
				<li><a href="tables-fixedheader.html">Fixed Header Tables</a></li>
			</ul>
		</li>
		<li><a href="ui-advancedpanels.html"><i class="fa fa-cog fa-spin"></i><span>Panels</span><span class="label label-alizarin">HOT!</span></a></li>
		<li><a href="javascript:;"><i class="fa fa-bar-chart-o"></i><span>Analytics</span></a>
			<ul class="acc-menu">
				<li><a href="charts-flot.html">Flot</a></li>
				<li><a href="charts-sparklines.html">Sparklines</a></li>
				<li><a href="charts-morris.html">Morris.js</a></li>
				<li><a href="charts-chart.html">Chart.js</a></li>
				<li><a href="charts-easypiechart.html">Easy Pie Chart</a></li>
				<li><a href="charts-nvd3.html">nvd3 <span class="label label-info">New</span></a></li>
				<li><a href="charts-gantt.html">Gantt Chart</a></li>
			</ul>
		</li>
		<li><a href="javascript:;"><i class="fa fa-map-marker"></i><span>Maps</span></a>
			<ul class="acc-menu">
				<li><a href="maps-google.html">Google Maps</a></li>
				<li><a href="maps-vector.html">Vector Maps</a></li>
				<li><a href="maps-mapael.html">Mapael</a></li>
			</ul>
		</li>
		<li><a href="javascript:;"><i class="fa fa-files-o"></i><span>Pages</span></a>
			<ul class="acc-menu">
				<li><a href="extras-messages.html">Messages</a></li>
				<li><a href="extras-profile.html">Profile</a></li>
				<li><a href="extras-calendar.html">Calendar</a></li>
				<li><a href="extras-timeline.html">Timeline</a></li>
				<li><a href="extras-search.html">Search Page</a></li>
				<li><a href="extras-chatroom.html">Chat Room</a></li>
				<li><a href="extras-invoice.html">Invoice</a></li>
				<li><a href="javascript:;">Responsive Email Template</a>
					<ul class="acc-menu">
						<li><a href="responsive-email/basic.html">Basic</a></li>
						<li><a href="responsive-email/hero.html">Hero</a></li>
						<li><a href="responsive-email/sidebar.html">Sidebar</a></li>
						<li><a href="responsive-email/sidebar-hero.html">Sidebar Hero</a></li>
					</ul>
				</li>
				<li><a href="extras-gallery.html">Gallery</a></li>
				<li><a href="coming-soon.html">Coming Soon</a></li>
			</ul>
		</li>
		<li><a href="javascript:;"><i class="fa fa-briefcase"></i><span>Extras</span></a>
			<ul class="acc-menu">
				<li><a href="extras-pricingtable.html">Pricing Tables</a></li>
				<li><a href="extras-faq.html">FAQ</a></li>
				<li><a href="extras-registration.html">Registration</a></li>
				<li><a href="extras-forgotpassword.html">Password Reset</a></li>
				<li><a href="extras-login.html">Login</a></li>
				<li><a href="extras-404.html">404 Page</a></li>
				<li><a href="extras-500.html">500 Page</a></li>
			</ul>
		</li>
		<li><a href="javascript:;"><i class="fa fa-sitemap"></i><span>Multiple Level Menu</span><span class="badge badge-dark">99</span></a>
			<ul class="acc-menu">
				<li><a href="javascript:;">Menu Item 1</a></li>
				<li><a href="javascript:;">Menu Item 2</a>
					<ul class="acc-menu">
						<li><a href="javascript:;">Menu Item 2.1</a></li>
						<li><a href="javascript:;">Menu Item 2.2</a>
							<ul class="acc-menu">
								<li><a href="javascript:;">Menu Item 2.2.1</a></li>
								<li><a href="javascript:;">Menu Item 2.2.2</a>
									<ul class="acc-menu">
										<li><a href="javascript:;">And deeper yet!</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="disabled-link"><a href="index.html">Disabled Menu Item</a></li>
			</ul>
		</li>
	</ul>
</nav>