	<div class="dropdown-menu dropdown-alternate tabbed arrow">
		<div class="dropdown-tab-btns">
			<ul class="btn-group btn-block">
                <a class="btn btn-default btn-sm col-xs-4 active" data-target="#text-tab" data-toggle="tab">Tab 1</a>
				<a class="btn btn-default btn-sm col-xs-4" data-target="#text-tab2" data-toggle="tab">Tab 2</a>
				<a class="btn btn-default btn-sm col-xs-4" data-target="#text-tab3" data-toggle="tab">Tab 3</a>
			</ul>
		</div>

		<div class="tab-content">
            <div class="tab-pane active" id="text-tab">
                <div class="p-md">
                    <h3 class="mt0">Put Tabs in Top Navigation</h3>
                    <p class="mb0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum earum quas ratione et deleniti cumque deserunt quod aut facilis velit! Animi quis perferendis sint totam ratione quibusdam. Pariatur, sequi a nostrum, doloremque eius molestias architecto nobis libero sapiente dolore accusamus! </p>
                </div>
            </div>
            <div class="tab-pane" id="text-tab2">
                <div class="p-md">
                    <h3 class="mt0">Another Tab</h3>
                    <p class="mb0">Voluptatum earum quas ratione et deleniti cumque deserunt quod aut facilis velit! Animi quis perferendis sint totam ratione quibusdam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, sequi a nostrum, doloremque eius molestias architecto nobis libero sapiente dolore accusamus! </p>
                </div>
            </div>
            <div class="tab-pane" id="text-tab3">
                <div class="p-md">
                    <h3 class="mt0">More Tabs</h3>
                    <p class="mb0">Pariatur, sequi a nostrum, doloremque eius molestias architecto nobis libero sapiente dolore accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum earum quas ratione et deleniti cumque deserunt quod aut facilis velit! Animi quis perferendis sint totam ratione quibusdam.</p>
                </div>
            </div>
		</div>
	</div>
