{% layout 'layout' %}
{% block title %}Pricing Table{% endblock %}

{% block breadcrumb %}
<li><a href="index.html">Home</a></li>
<li><a href="#">Extras</a></li>
<li class="active"><a href="extras-pricingtable.html">Pricing Table</a></li>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

<div class="row pricing-table-1-container pricing-alizarin"> 
	<div class="col-md-3">
		<div class="pricing-box hover-effect">
			<div class="pricing-head">
				<h3 class="pricing-head-title">Standard</h3>
				<h4><i>$</i>5<i>.99</i><span>Monthly</span></h4>
			</div>
			<ul class="pricing-content list-unstyled">
				<li>10GB Disk Space</li>
				<li>100GB Bandwidth</li>
				<li>10 Email Accounts</li>
				<li>Unlimited Subdomains</li>
				<li>Full Time Support</li>
			</ul>
			<div class="pricing-footer">
				<p>Lorem ipsum dolor sit amet consectetur adipiscing elit ut non libero magna psum olor.</p>
				<a href="#" class="btn btn-default btn-block">Sign Up</a> 
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="pricing-box hover-effect">
			<div class="pricing-head">
				<h3 class="pricing-head-title">Pro</h3>
				<h4><i>$</i>9<i>.99</i><span>Monthly</span> </h4>
			</div>
			<ul class="pricing-content list-unstyled">
				<li>20GB Disk Space</li>
				<li>200GB Bandwidth</li>
				<li>20 Email Accounts</li>
				<li>Unlimited Subdomains</li>
				<li>Full Time Support</li>
			</ul>
			<div class="pricing-footer">
				<p>Lorem ipsum dolor sit amet consectetur adipiscing elit ut non libero magna psum olor.</p>
				<a href="#" class="btn btn-default btn-block">Sign Up</a> 
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="pricing-box pricing-active hover-effect">
			<div class="pricing-head">
				<h3 class="pricing-head-title">Premium</h3>
				<h4><i>$</i>19<i>.99</i><span>Monthly</span></h4>
			</div>
			<ul class="pricing-content list-unstyled">
				<li>30GB Disk Space</li>
				<li>300GB Bandwidth</li>
				<li>30 Email Accounts</li>
				<li>Unlimited Subdomains</li>
				<li>Full Time Support</li>
			</ul>
			<div class="pricing-footer">
				<p>Lorem ipsum dolor sit amet consectetur adipiscing elit ut non libero magna psum olor.</p>
				<a href="#" class="btn btn-deeporange btn-block">Sign Up</a> 
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="pricing-box hover-effect">
			<div class="pricing-head">
				<h3 class="pricing-head-title">Ultimate</h3>
				<h4><i>$</i>30<i>.00</i><span>Monthly</span></h4>
			</div>
			<ul class="pricing-content list-unstyled">
				<li>40GB Disk Space</li>
				<li>400GB Bandwidth</li>
				<li>40 Email Accounts</li>
				<li>Unlimited Subdomains</li>
				<li>Full Time Support</li>
			</ul>
			<div class="pricing-footer">
				<p>Lorem ipsum dolor sit amet consectetur adipiscing elit ut non libero magna psum olor.</p>
				<a href="#" class="btn btn-default btn-block">Sign Up</a> 
			</div>
		</div>
	</div>
</div>

{% endblock %}






