{% layout "layout-fixed-sidebar" %}
{% block title %}Fixed Sidebars{% endblock %}

{% block breadcrumb %}
<li><a href="index.html">Home</a></li>
<li><a href="#">Layout</a></li>
<li class="active"><a href="layout-fixed-sidebars.html">Fixed Sidebars</a></li>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
	$('body').removeClass('sidebar-collapsed');
});
</script>
{% endblock %}

{% block content %} 

	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-info">
				<p>Fixed sidebars: both leftbar and rightbar are stretchable</p>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>Excepteur Sint</h2>
				</div>
				<div class="panel-body">
					<p class="m0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}