{% include header %}
    <!-- The following CSS are included as plugins and can be removed if unused-->
    {% block styles %}{% endblock %}
    </head>

    <body class="infobar-offcanvas horizontal-nav">
        {% include analytics %}
        <div id="wrapper">
            {% include topnav %}

            <div class="static-content">
                <div class="page-content">
                    <div class="page-heading">            
                        <h1>{% block title %}Blank{% endblock %}</h1>
                        {% include header-options-default %}
                    </div>
                    <ol class="breadcrumb">
                        {% block breadcrumb %}<li><a href="index.html">Home</a></li>{% endblock %}
                    </ol>
                    <div class="container-fluid">
                        {% block content %}{% endblock %}
                    </div> <!-- .container-fluid -->
                </div> <!-- #page-content -->
            </div>

        </div>
        {% include footer %}


        <div class="infobar-wrapper scroll-pane">
            {% include rightbar %}
        </div>


    
    {% include scripts %}
    
    <!-- Load page level scripts-->
    {% block scripts %}{% endblock %}
    <!-- End loading page level scripts-->

    </body>
</html>